# SSH keys
*.pem
*.pub
.aws/ec2-keys
*Administrator_accessKeys*
*credentials*
local/data*


# Lixos e Coisas específicas do Terraform para um projeto
.terraform/
.terraform.lock.hcl
terraform.tfstate
.terraform.tfstate.lock.info
terraform.tfstate.backup

# Arquivos temporários do editor
*_deprecated*
# Python
__pycache__/
.venv/
